@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <div class="jumbotron bg-white text-dark rounded p-5">
        <h1 class="display-4">¡Bienvenido al Sistema de Gestión de Usuarios!</h1>
        <p class="lead">Aquí puedes gestionar y administrar los usuarios de tu sistema, agregando, editando, visualizando y eliminando cuentas de manera eficiente.</p>
        <hr class="my-4">
        <p>Explora las opciones disponibles para mantener tu sistema organizado y optimizado. Gestiona roles, accesos y más.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Usuarios")" role="button">
            Comienza aqui <i class="ri-arrow-right-line"></i>
        </a>
    </div>
</div>


